/* src/pages/Perfil.css */
.perfil-container {
  background: rgb(221, 235, 244);
  border-radius: 1rem;
  padding: 2rem;
  max-width: 500px;
  margin: 0 auto;
}

.perfil-header {
  display: flex;
  justify-content: space-between;

}

h2 {
  color: #0c2eb2;
}

.perfil-form {
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 2rem;
  gap: 1rem;
}

.perfil-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}


@keyframes gradientMove {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.perfil-form button {
  background: linear-gradient(270deg, #010d3c, #4491ef);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

}
